@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Syne+Mono&display=swap');

:root {
	color-scheme: dark;

	--primary-color: #e6e6fa;
	--secondary-color: #33006f;
	--third-color: #1d1160;
	--muted-color: #d8bfd8;
	--text-color: #dda0dd;
	--primary-font-family: 'Syne Mono', monospace;
	--secondary-font-family: 'Fira Code', monospace;
}

html {
	font-family: var(--primary-font-family);
}

body {
	min-height: 100vh;
	margin: 0;
}

pre,
samp,
code {
	font-family: var(--secondary-font-family);
}

pre {
	margin: 0 0 1rem 0;
	padding: 1rem;
	background-color: var(--secondary-color);
	background: linear-gradient(65deg, var(--secondary-color) 0%, var(--third-color) 100%);
	border-radius: 0.5rem;
	border-top: 0.5rem solid #452c63;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: hidden;
}

a,
a:visited {
	color: #d38225;
}

a:hover {
	color: #f8a13e;
}
